@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
    main {
        width: 100%;
        max-width: 100%;
    }

    .card {
      flex-direction: column-reverse;
      text-align: center;
      margin: 10px 20px 10px 20px;
      border-radius: 10px;
    }

     .stats {
         flex-direction: column;
     }

    .right {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    } 
     
    .right > img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

     .stats_p {
         display: flex;
         flex-direction: column;
     }

  }

  @media screen and (max-width: 768px) {

    main {
        width: 50rem;
        max-width: 100%;
    }

    .card {
      flex-direction: column-reverse;
      text-align: center;
      margin: 10px 20px 10px 20px;
      border-radius: 10px;
    }

     .stats {
         flex-direction: column;
     }

    .right {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    } 
     
    .right > img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

     .stats_p {
         display: flex;
         flex-direction: column;
     }

  }